<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Erro!</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <h1>❌ Erro ao Enviar os Dados</h1>
    <p>Ocorreu um erro: <%= error %></p>
    <a href="/" class="button-back">Voltar</a>
  </div>
</body>
</html>
